n8n/workflows/cdm2026-daily.json
{
  "name": "CDM 2026 — MAJ quotidienne",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Tous les jours 7h Paris",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://skills-runner:8080/api/v1/run",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.RUNNER_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"job_id\": \"cdm2026-daily\"}",
        "options": {
          "timeout": 1200000
        }
      },
      "id": "http-run",
      "name": "Appeler skills-runner",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "status-ok",
              "leftValue": "={{ $json.status }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-ok",
      "name": "Succès ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "commit",
              "name": "commit",
              "value": "={{ $json.commit }}",
              "type": "string"
            },
            {
              "id": "duration",
              "name": "durationSec",
              "value": "={{ $json.duration_sec }}",
              "type": "number"
            },
            {
              "id": "job",
              "name": "job_id",
              "value": "={{ $json.job_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-ok",
      "name": "Résultat OK",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [960, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "err",
              "name": "error",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "set-err",
      "name": "Résultat erreur",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [960, 420]
    }
  ],
  "connections": {
    "Tous les jours 7h Paris": {
      "main": [
        [
          {
            "node": "Appeler skills-runner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Appeler skills-runner": {
      "main": [
        [
          {
            "node": "Succès ?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Résultat erreur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Succès ?": {
      "main": [
        [
          {
            "node": "Résultat OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Résultat erreur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Paris"
  },
  "staticData": null,
  "tags": [],
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
