n8n/workflows/cdm2026-daily.json
{
  "id": "CdM2026DailyWf01",
  "name": "CDM 2026 — MAJ toutes les 2h",
  "active": true,
  "activeVersionId": null,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */2 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Toutes les 2h Paris",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "date-active",
              "leftValue": "={{ $now.setZone('Europe/Paris').toISODate() <= '2026-07-14' }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-active",
      "name": "Encore actif ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "expired-status",
              "name": "status",
              "value": "expired",
              "type": "string"
            },
            {
              "id": "expired-report",
              "name": "report_text",
              "value": "CDM 2026 — workflow expiré (dernière exécution : 14/07/2026)",
              "type": "string"
            },
            {
              "id": "expired-cr",
              "name": "cr",
              "value": "CDM 2026 — workflow expiré (dernière exécution : 14/07/2026)",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-expired",
      "name": "Expiré",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [680, 480]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://skills-runner:8080/api/v1/runs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.RUNNER_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"job_id\": \"cdm2026-daily\"}",
        "options": {}
      },
      "id": "http-start",
      "name": "Démarrer run",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "wait-30s",
      "name": "Attendre 30s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [920, 300],
      "webhookId": "cdm2026-wait-poll"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://skills-runner:8080/api/v1/runs/{{ $('Démarrer run').item.json.run_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.RUNNER_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "http-poll",
      "name": "Lire statut",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1160, 300],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "run-id",
              "name": "run_id",
              "value": "={{ $json.run_id }}",
              "type": "string"
            },
            {
              "id": "phase",
              "name": "phase",
              "value": "={{ $json.phase }}",
              "type": "string"
            },
            {
              "id": "message",
              "name": "message",
              "value": "={{ $json.message }}",
              "type": "string"
            },
            {
              "id": "status",
              "name": "status",
              "value": "={{ $json.status }}",
              "type": "string"
            },
            {
              "id": "elapsed",
              "name": "elapsed_sec",
              "value": "={{ $json.elapsed_sec }}",
              "type": "number"
            },
            {
              "id": "log-tail",
              "name": "log_tail",
              "value": "={{ ($json.log_tail || []).join(' | ') }}",
              "type": "string"
            },
            {
              "id": "report-text-journal",
              "name": "report_text",
              "value": "={{ $json.report_text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-journal",
      "name": "Journaliser phase",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "status-done",
              "leftValue": "={{ $json.status }}",
              "rightValue": "done",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-done",
      "name": "Terminé ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1440, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "status-error",
              "leftValue": "={{ $json.status }}",
              "rightValue": "error",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-error",
      "name": "Erreur ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1680, 420]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "commit",
              "name": "commit",
              "value": "={{ $('Lire statut').item.json.result.commit }}",
              "type": "string"
            },
            {
              "id": "duration",
              "name": "durationSec",
              "value": "={{ $('Lire statut').item.json.result.duration_sec }}",
              "type": "number"
            },
            {
              "id": "job",
              "name": "job_id",
              "value": "={{ $('Lire statut').item.json.job_id }}",
              "type": "string"
            },
            {
              "id": "phase-final",
              "name": "phase",
              "value": "={{ $('Journaliser phase').item.json.phase }}",
              "type": "string"
            },
            {
              "id": "msg-final",
              "name": "message",
              "value": "={{ $('Journaliser phase').item.json.message }}",
              "type": "string"
            },
            {
              "id": "report-text-ok",
              "name": "report_text",
              "value": "={{ $('Lire statut').item.json.report_text }}",
              "type": "string"
            },
            {
              "id": "cr-ok",
              "name": "cr",
              "value": "={{ $('Lire statut').item.json.report_text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-ok",
      "name": "Résultat OK",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1680, 180]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "err",
              "name": "error",
              "value": "={{ $('Lire statut').item.json }}",
              "type": "object"
            },
            {
              "id": "phase-err",
              "name": "phase",
              "value": "={{ $('Journaliser phase').item.json.phase }}",
              "type": "string"
            },
            {
              "id": "msg-err",
              "name": "message",
              "value": "={{ $('Journaliser phase').item.json.message }}",
              "type": "string"
            },
            {
              "id": "report-text-err",
              "name": "report_text",
              "value": "={{ $('Lire statut').item.json.report_text }}",
              "type": "string"
            },
            {
              "id": "cr-err",
              "name": "cr",
              "value": "={{ $('Lire statut').item.json.report_text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-err",
      "name": "Résultat erreur",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1920, 420]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "start-err",
              "name": "error",
              "value": "={{ $json }}",
              "type": "object"
            },
            {
              "id": "start-status",
              "name": "status",
              "value": "error",
              "type": "string"
            },
            {
              "id": "start-report",
              "name": "report_text",
              "value": "={{ 'CDM 2026 — erreur démarrage run\\n\\n' + JSON.stringify($json.error || $json, null, 2) }}",
              "type": "string"
            },
            {
              "id": "start-cr",
              "name": "cr",
              "value": "={{ 'CDM 2026 — erreur démarrage run\\n\\n' + JSON.stringify($json.error || $json, null, 2) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-start-err",
      "name": "Erreur démarrage",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [920, 520]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "chapron.loic@gmail.com",
        "subject": "={{ '[CDM 2026] ' + ($json.status || 'info') + ' — ' + $now.setZone('Europe/Paris').toFormat('dd/MM/yyyy HH:mm') }}",
        "emailType": "text",
        "message": "={{ $json.cr || $json.report_text || JSON.stringify($json, null, 2) }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "gmail-notify",
      "name": "Envoyer CR par mail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [2140, 300],
      "disabled": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "GmailAccountCred",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Toutes les 2h Paris": {
      "main": [
        [
          {
            "node": "Encore actif ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Encore actif ?": {
      "main": [
        [
          {
            "node": "Démarrer run",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Expiré",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Démarrer run": {
      "main": [
        [
          {
            "node": "Attendre 30s",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Erreur démarrage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attendre 30s": {
      "main": [
        [
          {
            "node": "Lire statut",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lire statut": {
      "main": [
        [
          {
            "node": "Journaliser phase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Résultat erreur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Journaliser phase": {
      "main": [
        [
          {
            "node": "Terminé ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Terminé ?": {
      "main": [
        [
          {
            "node": "Résultat OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Erreur ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Erreur ?": {
      "main": [
        [
          {
            "node": "Résultat erreur",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Attendre 30s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Résultat OK": {
      "main": [
        [
          {
            "node": "Envoyer CR par mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Résultat erreur": {
      "main": [
        [
          {
            "node": "Envoyer CR par mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expiré": {
      "main": [
        [
          {
            "node": "Envoyer CR par mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Erreur démarrage": {
      "main": [
        [
          {
            "node": "Envoyer CR par mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Paris"
  },
  "staticData": null,
  "tags": [],
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
